langgraph
langchain
langchain-groq
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
python_dotenv
tavily-python
requests
langgraph-checkpoint-postgres
airportsdata
pycountry
fastapi
uvicorn
tavily
dotenv
langchain-mcp-adapters
nest_asyncio
mcp
